body {
background-color: #F4F2F2;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading {
    font-size: 32px;
}
.block {
    display: block;
    margin: auto;
    width: 60%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}
.inline {
    display: table-row;
    margin: auto;
    width: 70%;
    text-align: center;
}
a {
    color: rgb(13, 157, 143);
}
a:hover {
    color: lightcoral;
}
.left {
    text-align: left;
}
.code-sample {
    background-color: aliceblue;
    padding: 1em;
    border-radius: 20px;
}
thead {
    text-align: left;
    vertical-align: top;
}
td {
    vertical-align: top;
}
.footer-table {
    display: table;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.flex {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}