body {
    margin: 0;
    padding: 0;
    font-family: Inika, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.block {
    width: 1440px;
    background-color: #EDF2EC;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.top {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
header {
    width: 1440px;
    display: flex;
    height: 134px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}
nav {
    width: 452px;
    margin-top: 0px;
    align-items: center;
    margin-right: 109px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-left: 111px;
    margin-top: 13px;
}
#home {
    color: #E06733;
}

