body {
    margin: 0;
    padding: 0;
    font-family: Inika Regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1440px;
    /*background-color: #EDF2EC;*/
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.block {
    width: 1440px;
}
.top {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
header {
    width: 1440px;
    display: flex;
    height: 134px;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    color: #010201;
    background-color: #EDF2EC;;
}
nav {
    width: 452px;
    margin-top: 0px;
    align-items: center;
    margin-right: 109px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-left: 111px;
    margin-top: 13px;
}
#home {
    color: #E06733;
}
#welcome {
    width: 1440px;
    height: 532px;
    display: flex;
    justify-content: space-around;
    background-color: #EDF2EC;;
}
.image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: inline-start;
    
}
.text h1 {
font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 40px;
color: #717171;
line-height: 50px;
}
#green {
    color: #499A18;
}
.text {
    width: 525px;
    float: right;
}
p {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #636060;
    line-height: 35px;
    width: 525px;
}
button {
    width: 158px;
    height: 44px;
    font-size: 16px;
    color: black;
    border: 2;
    border-radius: 10px;
    border-color: #E06733;
}
#about {
    height: 666px;
    width: 1440px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2 {
    font-size: 40px;
    color: #499A18;
    font-weight: normal;
}
.orange {
    color: #E06733;
}

