body {
    margin: 0;
    padding: 0;
    font-family: Inika Regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1440px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.block {
    width: 1440px;
}
.top {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}
header {
    width: 1440px;
    display: flex;
    height: 134px;
    align-items: center;
    font-size: 16px;
    font-weight: thin;
    line-height: 50px;
    color: #010201;
    background-color: #EDF2EC;;
}
nav {
    width: 452px;
    margin-top: 0px;
    align-items: center;
    margin-right: 109px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-left: 111px;
    margin-top: 13px;
}
#home {
    color: #E06733;
}
#welcome {
    width: 1440px;
    height: 532px;
    display: flex;
    justify-content: space-around;
    background-color: #EDF2EC;
}
.image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: inline-start;
    
}
.text h1 {
font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 40px;
color: #717171;
line-height: 50px;
}
#green {
    color: #499A18;
}
.text {
    width: 525px;
    float: right;
}
p {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #636060;
    line-height: 30px;
    width: 525px;
}
button {
    background: none;
    width: 158px;
    height: 44px;
    font-size: 16px;
    color: black;
    border: solid 2;
    border-radius: 10px;
    border-color: #E06733;
}
button:active {
    background-color: #E06733;
    color: white;
}
#about {
    height: 666px;
    width: 1440px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2 {
    font-size: 40px;
    color: #499A18;
    font-weight: normal;
}
.orange {
    color: #E06733;
}
#service {
    display: flex;
    flex-direction: row;
    background-color: #EDF2EC;
    width: 1440px;
    height: 230px;
}
.service-button {
    font-family: Inika Regular, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #E06733;
    border-color: #E06733;
    border-radius: 5px;
}
#service-heading {
    display: flex;
    justify-content: flex-start;
    margin-left: 22%;
    width: 306px;
    height: 94px;
}
#buttons {
    display: flex;
    justify-content: space-between;
    width: 559px;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 100%;
}
#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EDF2EC;
    padding-bottom: 100px;
}

.head {
    color: #E06733;
    font-family:'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
}
.paragraph {
    font-size: 16px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #717171;
}
figcaption {
    padding-bottom: 25px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #E3E1D5;
    border-radius: 20px;
}
#prices {
    /*height: 560px;*/
    width: 1440px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
}
#selection {
    width: 332px;
    height: 282px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-left: 40%;
}
h3 {
    color: black;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin-left: 40%;
}
#gardeners {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    margin-bottom: 20%;
    margin-left: 20%;
}
.green {
    color: #499A18;
}
#leaves-small {
    margin-left: 40%;
}
.select {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    color: black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #EDF2EC;
    border-radius: 20px;
    height: 30px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

